@{
    ViewData["Title"] = "View Incidents";
}

@model IncidentsViewModel

<div class="hero-area hero-bg">

    <div class="container">
        <div class="row h-auto">
            <div class="h-auto col-lg-9 offset-lg-2 mt-3 d-flex justify-content-between align-items-center">
                <a class="btn boxed-btn ml-2" asp-controller="Home" asp-action="Filter">Filter List</a>
                <h6 class="mr-5 my-0 text-white">Total Results: @ViewBag.Length</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 offset-lg-2">
                @if (Model.Incidents?.Count() > 0)
                {
                    <div class="inc-group">
                        @foreach (crash_data c in Model.Incidents)
                        {
                            <partial name="IncidentSummary" model="c" />
                        }
                        <div page-list="@Model.PageInfo" page-action="Incidents" page-classes-enabled="true"
                             page-class="Paging" page-class-selected="active" redirect="@ViewBag.Redirect" class="pagingDiv inc-btn-group">
                        </div>
                    </div>
                }
                else
                {
                    <div class="hero-text">
                        <div class="hero-text-tablecell text-center">
                            <p class="subtitle">Sorry</p>
                            <h1>No Incident Data</h1>
                            <div class="hero-btns">
                                <a asp-controller="Home" asp-action="Index" class="boxed-btn">Back to Home</a>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
