@{
    ViewData["Title"] = "Home Page";
}

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Inform & Prevent</p>
                        <h1>Utah Car Crashes</h1>
                        <div class="hero-btns">
                            <a href="https://highwaysafety.utah.gov/crash-data/utah-crash-summaries/" target="_blank" class="boxed-btn">Latest News</a>
                            <a href="mailto:henrycho5643@gmail.com" class="bordered-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About Incidents in Utah</h2>
                    <p>
                        Utah has a unique set of challenges when it comes to motor vehicle accidents.
                        For example, although alcohol is still a problem, it may be less of a problem in
                        Utah than distracted driving. Lawmakers need to understand these unique challenges
                        better in order to regulate effectively.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="footer-box about-widget">
                    <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/f9f2362a-62ef-4365-a867-660e3d4fe8e6" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Purpose of this Site</h2>
                    <p>
                        There has been an increase of car crashes in Utah the past few years.
                        There are many possible reasons for this increase, and with data we can
                        start to see the bigger picture. Throughout this website, you will be able to review
                        crash statistics, interact with predictive models, and learn how to help.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->