@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Utah Car Crashes</h1>
    <h4>A growing problem</h4>
</div><br /><br />

<div class="text-md-left">
    <p>There has been an increase of car crashes in the past few years. </p>
</div>