
<div class="crashhero-image">
    <div class="hero-text">
        <h1 class="mt-2" style="font-size: 4.75rem;">Statistics</h1>
    </div>
</div>
<div class="bg-dark py-3 w-100">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="w-75 bg-orange p-4">
                <h4 class="text-center text-white">Total Crashes This Year:</h4><h1 class="text-center text-white">11,035</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="bg-red stats-card">
                <div class="d-flex flex-column justify-content-center align-items-center p-3 h-100">

                    <h2 class="text-center">Every day</h2>
                    <h1 class="text-white text-center">28 people</h1>
                    <h2 class="text-center">in the US die in drunk-driving crashes.</h2>
                </div>
            </div>
            <div >
                <img src="~/img/teen.jpg" width="400" height="400" />
            </div>
            <div class="bg-lightorange stats-card">
                <div class="d-flex flex-column justify-content-center align-items-center p-3 h-100">
                    <h2 class="text-center">Cellphone use accounts for</h2>
                    <h1 class="text-white text-center">27%</h1>
                    <h2 class="text-center"> of car crashes.</h2>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <img src="~/img/drunk.jpg" width="400" height="400" />
            </div>
            <div class="bg-orange stats-card">
                <div class="d-flex flex-column justify-content-center align-items-center p-2 h-100">
                    <h2 class="text-center">The fatal crash rate for teens is</h2>
                    <h1 class="text-white text-center">3 times greater</h1>
                    <h2 class="text-center">than drivers 20 or older.</h2>
                </div>
            </div>
            <div>
                <img src="~/img/phone.jpg" width="400" height="400" />
            </div>
        </div>
    </div>
</div>
