@page "/AccountManage"

<div class="container">
    <div class="d-flex justify-content-center mb-5 mt-5 h-auto">
        <a class="d-flex flex-column align-items-center home-box bg-white clickable text-dark" href="/EnableAuthen">
            <object data="/lib/feather/shield.svg" class="home-icon"> </object>

            <h6 class="text-center w-100 bg-dark text-white mb-0 p-3">ENABLE 2FA</h6>
        </a>
        <a class="d-flex flex-column align-items-center home-box bg-white text-dark clickable" href="/DisableAuthen">
            <object data="/lib/feather/shield-off.svg" class="home-icon"> </object>
            <h6 class="text-center w-100 bg-dark text-white mb-0 p-3">DISABLE 2FA</h6>
        </a>
        <a class="d-flex flex-column align-items-center home-box bg-white clickable text-dark" href="/register">
            <object data="/lib/feather/user-plus.svg" class="home-icon"> </object>
            <h6 class="text-center w-100 bg-dark text-white mb-0 p-3">REGISTER USER</h6>
        </a>
    </div>
</div>
