@page "/AccountManage"

<br /><br />
<div class="row">

    <div class="col-2 text-left">
        <a href="/DisableAuthen" class="btn btn-danger">Disable2FA</a>
    </div>

    <div class="col-2 text-right">
        <a href="/EnableAuthen" class="btn btn-success">Enable2FA</a>
    </div>

</div>

<a href="/register" class="btn">Register New Administrator</a>