@inherits LayoutComponentBase

<div class="big-info text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand m-lg-2">Utah CarCrash Admin</span>
            </div>

            <div class="col-2 text-right">
                <a href="/account/logout" class="btn btn-sm btn-primary">Log Out</a>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row p-2 d-grid">
        @*<div class="col-3">
            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/incidents" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">
                    Incidents
                </NavLink>
            </div>
        </div>*@
        <div class="col">
            @Body
        </div>
    </div>

</div>
