@page "/admin/incidents"
@page "/admin"

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>HI</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Hi there</td>
        </tr>
    </tbody>
</table>

@code {

}
