@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
}

@model IntexFinal.Pages.Admin.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/items/bootstrap/css/bootstrap.min.css" />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/img/car2-removebg-preview.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/lib/items/bootstrap/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/lib/items/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/lib/items/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/lib/items/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/lib/items/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/lib/items/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/lib/items/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/lib/items/css/responsive.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="/" />
</head>
<body>
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
