@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
}

@model IntexFinal.Pages.Admin.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <base href="/"/>
</head>
<body>
    <component type="typeof(Routed)" render-mode="Server"/>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
