<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntexFinal</title>
    <link rel="stylesheet" href="~/lib/items/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/img/car2-removebg-preview.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <!--<link rel="stylesheet" href="~/lib/items/bootstrap/css/all.min.css">-->
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/lib/items/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/lib/items/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/lib/items/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/lib/items/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/lib/items/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/lib/items/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/lib/items/css/responsive.css">
</head>
<body>
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="/img/car2-removebg-preview.png" alt="" height="30">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="Home" asp-action="Incidents">Incidents</a></li>
                                <li><a href="#">Predictions</a></li>                            </ul>
                        </nav>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    @RenderBody()
    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About Incidents in Utah</h2>
                        <p>
                            Utah has a unique set of challenges when it comes to motor vehicle accidents.
                            For example, although alcohol is still a problem, it may be less of a problem in
                            Utah than distracted driving. Lawmakers need to understand these unique challenges
                            better in order to regulate effectively.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-box about-widget">
                        <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/f9f2362a-62ef-4365-a867-660e3d4fe8e6" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">Purpose of this Site</h2>
                        <p>
                            There has been an increase of car crashes in Utah the past few years.
                            There are many possible reasons for this increase, and with data we can
                            start to see the bigger picture. Throughout this website, you will be able to review
                            crash statistics, interact with predictive models, and learn how to help.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Yeet &copy; 2022 - Group 2.5 - <a href="https://www.privacypolicies.com/live/b3b5be99-8f44-4b74-8e4e-c3ed8de4e4a1">Privacy</a>
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">

                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="~/lib/items/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/lib/items/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/lib/items/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/lib/items/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/lib/items/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/lib/items/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/lib/items/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/lib/items/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/lib/items/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/lib/items/js/main.js"></script>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
</body>
</html>
